#landing-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-account {
  margin-bottom: 20px;
}

#saved-courses {
  margin-bottom: 20px;
}

.landing-buttons {
  width: 336px;
  height: 75px;
  cursor: pointer;
  border-radius: 40px;
  background-color: #4164c0;
  border: none;
  font-size: 30px;
}

#all-courses {
  margin-bottom: 10%;
}
