#navbar-container {
  display: flex;
  flex-direction: row;
}

#NexGen-nav {
  font-size: 35px;
  margin-left: 5px;
  cursor: pointer;
}

#align-input-field {
  display: flex;
  margin-left: 10%;
}

#input-container {
  position: relative;
  display: flex;
  align-items: center;
}

#input-field {
  width: 331px;
  height: 63px;
  border-radius: 40px;
  background-color: #d9d9d9;
  padding-left: 60px;
  padding-right: 60px;
  border: none;
}

#search-icon {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.icons-nav {
  margin-top: 10px;
  width: 51px;
  height: 48px;
  cursor: pointer;
}

#account-icon {
  margin-right: 30px;
}

#align-icons-nav {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

#burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 810px;
  height: 750px;
}

.style-links-nav {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
  color: #615e5e;
}

.style-links-nav:hover {
  color: rgb(40, 39, 39);
}

#sign-out-btn {
  margin-top: 35px;
  border-radius: 40px;
  background-color: #4164c0;
  border: none;
  width: 336px;
  height: 75px;
  font-size: 30px;
  cursor: pointer;
}
