#navbar-container {
  display: flex;
  flex-direction: row;
}

#NexGen-nav {
  font-size: 40px;
  margin-left: 5%;
}

#align-input-field {
  display: flex;
  margin-left: 10%;
}

#input-container {
  position: relative;
  display: flex;
  align-items: center;
}

#input-field {
  width: 100%;
  height: 60px;
  border-radius: 40px;
  background-color: #d9d9d9;
  padding-left: 60px;
  padding-right: 60px;
  border: none;
}

#search-icon {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
}

.icons-nav {
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

#align-icons-nav {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
