#my-account-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#edit-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.align-input-edit-icon {
  display: flex;
}

/* .align-edit-icons {
  justify-content: right;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
} */

#style-edit-button {
  margin-top: 30px;
  background-color: #4164c0;
  border-radius: 40px;
  border: none;
  width: 446px;
  height: 95px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.style-label {
  font-size: 30px;
}

.input-styling {
  background-color: #f0f0f0;
  color: rgb(52, 51, 51);
  border: none;
  width: 338px;
  height: 75px;
  font-size: 30px;
  padding-left: 40px;
}

.input-styling:focus {
  outline: none;
}

#no-img-picked {
  width: 200px;
  height: 200px;
}

#add-img {
  width: 50px;
  cursor: pointer;
}

#align-add-img {
  position: absolute;
  margin-top: 330px;
  margin-left: 150px;
}

.change-icon {
  width: 36px;
  height: 40px;
  margin-left: 30px;
}

#save-changes-button {
  margin-top: 20px;
  background-color: #4164c0;
  border-radius: 40px;
  border: none;
  width: 446px;
  height: 95px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#align-edit-delete-personinfo-btn {
  margin-top: 20px;
}

#delete-account-button {
  background-color: #e12a35;
  border-radius: 40px;
  border: none;
  width: 446px;
  height: 95px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#align-delete-account-button {
  margin-top: 40px;
}

#delete-icon-red {
  width: 59px;
  height: 52px;
  margin-left: 30px;
}
