#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#field-gap {
  margin-bottom: 10px;
}

.input-text {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

#home-form {
  display: flex;
  flex-direction: column;
}

.sign-in-field {
  border-radius: 40px;
  background-color: #a6bff0;
  border: none;
  width: 336px;
  height: 75px;
  display: flex;
  font-size: 30px;
}

#sign-in-button {
  margin-top: 35px;
  border-radius: 40px;
  background-color: #4164c0;
  border: none;
  width: 336px;
  height: 75px;
  font-size: 30px;
  cursor: pointer;
}

.links {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
