#footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #39446b;
  /* box-sizing: content-box; */
  color: #ffff;
  padding-bottom: 10px;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

#align-icons {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  padding-top: 250px;
}

.icons {
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
